/* GLOBAL */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "League Spartan", "Arial", sans-serif;
  font-size: ;
  line-height: 1.5;
  background: lightcyan;
}

.container {
  width: 100%;
  min-width: 1366px;
  padding-left: 128px;
  padding-right: 128px;
  margin-right: auto;
  margin-left: auto;
}